body {
    background-image: url('https://img.freepik.com/fotos-premium/fundo-rosa-com-fundo-rosa-e-a-palavra-amor-nele_900396-6371.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
}

h1{
    text-align: center;
    color: aliceblue;
}
.item {
    width: 100%;
    text-align: center; /* Centraliza o conteúdo dentro do item */
}

.campo,
.saida,
.botao {
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Remova a duplicação da definição de .label */
.label {
    margin-bottom: 0px;
    font-weight: 500;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

/* Adicione a cor de fundo para a saída */
.saida {
    background-color: rgb(224, 213, 215);
}


.label {
    margin-bottom: 0px;
    font-weight: 500;
    margin-bottom: 2px;
}
.campo,
.botao,
.saida {
    display: block;
    margin: 0 auto 12px; /* Adiciona uma margem na parte inferior para separar os elementos */
    width: 400px; /* Define a largura desejada */
}

/* Remova a largura do campo, pois a largura agora é definida pelo width */
.campo {
    width: auto;
}

/* Adicione a cor de fundo para a saída */
.saida {
    background-color: rgb(224, 213, 215);
}

.campo {
    padding: 10px 5px;
    margin-bottom: 12px;
    border-radius: 5px;
    background-color: rgb(238, 151, 216);
    border: none;
    height: 15px;
    width: 400px;
}

.saida {
    height: 40px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #000;
    background-color: var(--fonte-clara);
    padding: 10px 5px;
    border-radius: 5px;
    height: 15px;
    width: 300px;
}

.botao {
    background-color: var(--fonte-escura);
    width: 100px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(160, 9, 102);
    border-radius: 5px;
    color: aliceblue;
}

.botao p {
    color: #e48e8e;
    font-weight: 500;
}

.botao:hover {
    background-color: rgb(218, 103, 198);
}
.saida {
    height: 40px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #000;
    background-color: rgb(224, 213, 215);
    padding: 10px 5px;
    border-radius: 5px;
}


.label {
    margin-bottom: 0px;
    font-weight: 500;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.conteiner-mensagem {
    background-color: #da61b7;
    height: 400px;
    width: 700px; /* Aumentando a largura */
    text-align: center;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.conteiner-exemplos {
    background-color: #da61b7;
    width: 700px; /* Aumentando a largura */
    margin: 0 auto; /* Centraliza horizontalmente */
}
